<div class="container">
  <h1>Wishlist Entry</h1>

  <% product = Product.find(params[:id]) %>
  <%= form_tag("/wishes", method: "post") do %>

<div class="col-md-6 col-sm-7">
<div class="cwell">
  <div>
    <%= hidden_field_tag :product_id, "#{params[:id]}" %>
  </div>
  <div class="form-group">
    <%= label_tag(:product_name, "Game:") %>
    <%= text_field_tag :product_name, "", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag(:price, "Price Desired:") %>
    <%= text_field_tag :price, "", class: "form-control" %>
  </div>

  <div>
    <%= submit_tag ("Submit") %>
  </div>
  <% end %>

</div>
</div>
</div>