    <div class="clearfix"></div>

    
    <!-- Hero starts -->
      
      <div class="hero">
       <div class="container">
        <div class="row">
           <div class="col-md-12">
            <!-- Catchy title -->
            <h3 class="animated fadeIn">Welcome to BrokeGamer</h3>
            <p>You're broke? So are we! Here we work together to keep video game deals on one page so we can all save as much money as possible.</p>
           </div>
        </div>
        <div class="sep-bor"></div>
       </div>
      </div>
      
      <!-- Hero ends -->  
      
      <!-- Items List starts -->

      <div class="shop-items blocky">
        <div class="container">
        <h3 class="animated fadeIn">Newest Deals:</h3>
         <div class="row">
            <!-- Item #1 -->
              <% @products.each do |game| %>

                        <!-- Item #1 -->
                      <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="item animated fadeIn">
                            <!-- Item image -->
                            <div class="item-image">
                                                  <div class="item-icon"><span>SALE</span></div>

                              <a href="/products/<%= game.id %>"><img src="<%= game.image %>" alt="" class="img-responsive"/></a>
                            </div>
                            <!-- Item details -->
                            <div class="item-details">
                              <!-- Name -->
                              <h6><a href="/products/<%= game.id %>"><%= game.name %></a></h6>
                              <div class="clearfix"></div>
                              <hr />
                              <!-- Price -->
                              <div class="item-price pull-right"><%= number_to_currency(Deal.find_by(product_id: game.id).price) %></div>
                            
                              <div class="clearfix"></div>
                            </div>
                          </div>
                        </div>
              <% end %>
              </div>
              <a href="/deals/"><button type="button" class="btn btn-custom btn-lg">See All Deals</button></a>

              </div>
              </div>


    
  