<div class="container"><%= form_tag "/deals/pending", method: :patch do %>

<h3>Edit Game:</h3>
<div class="col-md-8 col-sm-7">
<div class="cwell">
<div class="form-group">
  <%= hidden_field_tag :id, @deal.id %>
</div>
<div class="form-group">
  <%= label_tag :product_id, "Game ID:" %>
  <%= text_field_tag :product_id, @deal.product_id, class: "form-control" %>
</div>
<div class="form-group">
  <%= label_tag :price, "Deal Price:" %>
  <%= text_field_tag :price, @deal.price, class: "form-control" %>
</div>
<div class="form-group">
  <%= label_tag :url, "Deal URL:" %>
  <%= text_field_tag :url, @deal.url, class: "form-control" %>
</div>
<div class="form-group">
  <%= label_tag :comment, "Comments:" %>
  <%= text_field_tag :comment, @deal.comment, class: "form-control" %>
</div>


<div class="form-group">
  <%= label_tag :status, "Status:" %>
  <%= radio_button_tag(:status, "pending") %> 
  <%= label_tag(:status, "pending") %>
  <%= radio_button_tag(:status, "active") %>
  <%= label_tag(:status, "active") %>  
  <%= radio_button_tag(:status, "inactive") %>
  <%= label_tag(:status, "inactive") %>
</div>


<div>
  <%= submit_tag "Update Deal" %>
</div>

<% end %>
</div>
</div>
</div>