      <!-- Page title -->
      <div class="page-title">
       <div class="container">
        <h2><i class="fa fa-desktop color"></i> Current Game Deals</h2>
        <hr />
      </div>
    </div>
    <!-- Page title -->
    
    <!-- Page content -->
    
    <div class="shop-items">
     <div class="container">
      
      <div class="row">
       
       <div class="col-md-9 col-md-push-3">
         
         <!-- Breadcrumb -->
<!--                  <ul class="breadcrumb">
                   <li><a href="index.html">Home</a> <span class="divider"></span></li>
                   <li><a href="items.html">Smartphone</a> <span class="divider"></span></li>
                   <li class="active">Apple</li>
                 </ul> -->
                 
                 <!-- Items List starts -->
                 <% count = 0 %>
                 <% @products.each do |game| %>
                 <!-- Item #1 -->
                 <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="item">
                    <!-- Item image -->
                    <div class="item-image">
                      <a href="single-item.html"><img src="<%= game.image %>" alt="" class="img-responsive"/></a>
                    </div>
                    <!-- Item details -->
                    <div class="item-details">
                      <!-- Name -->
                      <h6><a href="/products/<%= game.id %>"><%= game.name %></a></h6>
                      <div class="clearfix"></div>
                      <!-- <p><%= game.shortDescription %></p> -->
                      <hr />
                      <!-- Price -->
                      <div class="item-icon"><span>SALE</span></div>

                      <div class="item-price pull-right"><%= number_to_currency(@prices[count]) %></div>     

                      <!-- Add to cart -->
                      
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
                 <% count += 1 %>
                <% end %>


                <!-- Items List ends -->
                
                
                <div class="row">
                  <div class="col-md-12">
                    <!-- Pagination -->
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Pages <span class="caret"></span></button>
                      <ul class="dropdown-menu scrollable-menu" role="menu">                      
                        <% @total_pages.times do |counter| %>
                        <li><a href="/deals?page=<%= (counter + 1) %>"><%= (counter + 1) %></a></li>
                        <% end %>
                      </ul> 
                    </div>
                  </div>
                  </div>
                </div>
              
              
              <div class="col-md-3 col-md-pull-9">
                <div class="sidey">
                 <ul class="nav">
                   <li><a href="index.html"><i class="fa fa-home"></i> &nbsp;Home</a>
                     <li><a href="/deals?order=newest"><i class="fa"></i> &nbsp;Newest Deals</a></li>
                     <li><a href="/deals?order=oldest"><i class="fa"></i> &nbsp;Oldest Deals</a></li>
                     <li><a href="/deals?order=lowtohigh"><i class="fa"></i> &nbsp;Price Low to High</a></li>
                     <li><a href="/deals?order=hightolow"><i class="fa"></i> &nbsp;Price High to Low</a></li>
                    
                   </ul>
                 </div>
                 

            </div>               
</div>
</div>
</div>
      <!-- CTA Ends -->