

<div class="container">
  <h1>New Deal Information</h1>

  <%= form_tag("/products/#{params[:id]}", method: "post") do %>
  <div>
    <%= hidden_field_tag :product_id, "#{params[:id]}" %>
  </div>
  <div>
    <%= label_tag(:price, "New Price:") %>
    <%= text_field_tag :price %>
  </div>
  <div>
    <%= label_tag(:url, "Link to Deal:") %>
    <%= text_field_tag :url %>
  </div>
  <div>
    <%= label_tag(:comments, "Comments (if applicable):") %>
    <%= text_field_tag :comments %>
  </div>
  <div>
    <%= label_tag(:date, "Date deal expires (approximate):") %>
    <%= text_field_tag :date, "Please enter in YYYY/MM/DD format" %>
  </div>
  <div>
    <%= submit_tag ("Submit") %>
  </div>
  <% end %>

</div>