     <!-- Page title -->
      <div class="page-title">
         <div class="container">
            <h2><i class="fa fa-desktop color"></i> <%= @product.name %><small></small></h2>
            <hr />
         </div>
      </div>
      <!-- Page title -->
      
      <!-- Page content -->
      
      <div class="shop-items">
         <div class="container">
            
            <div class="row">
               
               <div class="col-md-9 col-md-push-3">
               
                  <!-- Breadcrumb -->
                 <ul class="breadcrumb">
                  <% @product.categoryPath.each do |category| %>
                  <% if category == @product.categoryPath.first %>
                  <% else %>
                   <li><%= category["name"] %></a> <span class="divider"></span></li>
                   <% end %>
                   <% end %>
                 </ul>
               
                  <div class="single-item">
                      <div class="row">
                        <div class="col-md-5 col-xs-6">

                          <div class="item-image">
                              <img src="<%= @product.image %>" alt="" />
                          </div>
                              

                        </div>
                        <div class="col-md-4 col-xs-6">
                          <!-- Title -->
                            <h4><%= @product.name %></h4>
                            <% if @deal != false %>
                            <% if @product.salePrice <= @deal.price %>
                              <h5><strong>Price</strong>: <%= number_to_currency(@product.salePrice) %></h5>


                              

                              <% else %>
                              <h5 class="deal"><strong>Lowest Price</strong> : <%= number_to_currency(@deal.price) %></h5> 
                              
                              <h5><strong>Original Price</strong>: <%= number_to_currency(@product.salePrice) %></h5>
                              <h5 class="deal"><strong>Save</strong>:  <%= number_to_currency(@savings) %></h5>
                              <% if @deal.comment != "" %>
                              <h5><strong>Additional Comments:</strong></h5> 
                              <p><%= @deal.comment %></p>
                              <% end %>
                              
                              <a href="<%= @deal.url %>" target="_blank"><div class="btn-group" role="group" aria-label="...">
                              <button type="button" class="btn btn-custom center">Buy Now!</button>
                              </div></a>
                              <% end %>
                              <% else %>
                              <h5><strong>Price</strong>: <%= number_to_currency(@product.salePrice) %></h5>
                            <% end %>

                            <p><strong>Manufacturer</strong>: <%= @product.manufacturer %></p>
                            <p><strong>Platform</strong>: <%= @product.platform %></p>

                            <p><strong>Release Date</strong>: <%= @product.releaseDate %></p><br />
                            

                                    <!-- Add to wish list -->
                                    <p><a href="/wishes/new?id=<%= @product.id %>"><button type="button" class="btn btn-custom">Add to Wishlist</button>
</a></p>
                                    <p><a href="/deals/new?id=<%= @product.id %>"><button type="button" class="btn btn-custom">Add New Deal</button>
</a></p> 


                                    <!-- Share button -->
                            
                        </div>
                      </div>
                    </div>

            <br />
                    
                    <!-- Description, specs and review -->

                    <ul id="myTab" class="nav nav-tabs">
                      <!-- Use uniqe name for "href" in below anchor tags -->
                      <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
                      <li><a href="#tab2" data-toggle="tab">Price History</a></li>
                      <li><a href="#tab3" data-toggle="tab">Review (<%= @reviews.length %>)</a></li>
                    </ul>

                    <!-- Tab Content -->
                    <div id="myTabContent" class="tab-content">
                      <!-- Description -->
                      <div class="tab-pane fade in active" id="tab1">
                        <h3><strong><%= @product.name %></strong></h3>
                        <p><%= @product.longDescription %></p>
                        
                      </div>

                      <!-- Sepcs -->
                      <div class="tab-pane fade" id="tab2">

                      <h3><strong>History of Game Deals</strong></h3>
                        <hr />

                      <% if @deals_all.length == 0 %>
                        This game has never had a deal added. <a href="/deals/new?id=<%= @product.id %>">Be the first!</a>
                      <% else %>
                         <%= line_chart @deals_all.group_by_month(:date).minimum(:price), {library: {hAxis: {title: "Date"}, vAxis: {title: "Price"}, "width": "800", "height": "300", discrete: true}} %>
                       <% end %>

                      </div>

                      <!-- Review -->
                          

                      <div class="tab-pane fade" id="tab3">
                        <div ng-app="app">
                          <div ng-controller="reviewCtrl" ng-init="setup(<%= @product.id %>)">
                        <h3><strong>Product Reviews :</strong></h3>
                        <hr />

                         
                            <% if @reviews.length == 0 %>
                            There are no reviews yet. Be the first!
                            <% else %>
                          <div ng-repeat="review in reviews" class="cwell">
                            <div class="arrow">
                              <!-- <div ng-Click="reviewUpvote(review.id, $index)" style="cursor:pointer"><img src="http://i.imgur.com/0BtQCab.jpg" class="resize"></div>
                              <div class="upvotes">{{review.upvotes}}</div>
                              <div ng-Click="reviewDownvote(review.id, $index)" style="cursor:pointer"><img src="http://wp.iosfans.com/wp-content/uploads/2013/02/Down-vote-arrow-237x250.png" class="resize"></div> -->
                              <img src="http://cliparts.co/cliparts/6ir/oy8/6iroy8zAT.png" class="resize">
                            </div>
                            <div class="reviewBox">
                            <p><strong>Date:</strong> {{review.date | date:'MM/dd/yyyy'}}</p>
                            <p><strong>Rating:</strong> {{review.rating}}/5</p>
                            <p><strong>Comments:</strong> {{review.comments}}</p>
                            </div>
                          </div>
                          <% end %>

                            <div>
                              <h3><strong>Add Review:</strong></h3>
         
                      <% if current_user %>
                            <div>
                              Rating: 
                              <label><input type="radio" ng-model="reviewRating" value="1">1</label>
                              <label><input type="radio" ng-model="reviewRating" value="2">2</label>
                              <label><input type="radio" ng-model="reviewRating" value="3">3</label>
                              <label><input type="radio" ng-model="reviewRating" value="4">4</label>
                              <label><input type="radio" ng-model="reviewRating" value="5">5</label>
                            </div>      
                            <div>
                              Comments: <input type="field" ng-model="reviewComments" size="100" wrap="hard">
                            </div>


                            <button ng-click="addReview(reviewComments, reviewRating, <%= @product.id %>)">Submit</button>
                          <% else %>
                          Please log in to add a review.
                          <% end %>
                          </div>

                        </div>
                      </div>



                        <hr />
                        <!-- a href="/reviews/new?id=<%= @product.id %>"><button type="button" class="btn btn-custom">Write A Review</button></a> -->
                        <hr />

                      </div>

                    </div>
               
               </div>
               
                <div class="col-md-3 col-md-pull-9">
                  <div class="sidey">
                     <ul class="nav">
                         <li><a href="/products?system=All"><i class="fa fa-home"></i> &nbsp;All</a>
                         <li><a href="#"><i class="fa fa-laptop"></i> &nbsp;Playstation</a>
                             <ul>
                                 <li><a href="/products?system=PS4">PS4</a></li>
                                 <li><a href="/products?system=PS3">PS3</a></li>
                                 <li><a href="/products?system=PSVita">PS Vita</a></li>
                                 <li><a href="/products?system=PSP">PSP</a></li>
                                 <li><a href="/products?system=PS2">PS2</a></li>
                             </ul>
                         </li>
                         <li><a href="#"><i class="fa fa-briefcase"></i> &nbsp;Nintendo</a>
                             <ul>
                                 <li><a href="/products?system=3DS">3DS</a></li>
                                 <li><a href="/products?system=WiiU">Wii U</a></li>
                                 <li><a href="/products?system=DS">DS</a></li>
                                 <li><a href="/products?system=Wii">Wii</a></li>
                             </ul>
                         </li>
                         <li><a href="#"><i class="fa fa-mobile-phone"></i> &nbsp;Xbox</a>
                             <ul>
                                 <li><a href="/products?system=XboxOne">Xbox One</a></li>
                                 <li><a href="/products?system=Xbox360">Xbox 360</a></li>
                             </ul>
                         </li>
                         <li><a href="#"><i class="fa fa-camera"></i> &nbsp;PC Gaming</a>
                             <ul>
                                 <li><a href="/products?system=PC">PC Gaming</a></li>
                             </ul>
                         </li>
                     </ul>
                  </div>
                
          
               </div>
            </div>
         </div>
      </div>
      
