
<div class="container">
  <h1>Add Review</h1>

  <%= form_tag("/reviews/#{params[:id]}", method: "post") do %>
  <div>
    <%= hidden_field_tag :product_id, "#{params[:id]}" %>
  </div>
  <div>
    <%= label_tag(:comments, "Comments:") %><br>
    <%= text_area_tag :comments %>
  </div>

  <div>
  <%= label_tag(:rating, "Rating:") %><br>
  <% n = 1 %>
  <% 5.times do %>
    <%= radio_button_tag(:rating, "#{n}") %>
    <%= label_tag(:rating, "#{n}") %>
    <% n += 1 %>
  <% end %>
  </div>

  <div>
    <%= submit_tag ("Submit") %>
  </div>
  <% end %>

</div>