<!-- 
<div class="container">
<h1>Add Review</h1>
<%= form_for @review do |f| %>

<div>
  <%= f.label :rating %>
  <%= f.select :rating, (1..10) %>
</div>

<div>
  <%= f.label :comments %>
  <%= f.text_field :comments, class: "box_size" %>
</div>


<div><%= f.submit %></div>
<% end %>
</div> -->

<div class="container">
  <h1>Add Review</h1>

  <%= form_tag("/reviews", method: "post") do %>
  <div>
    <%= hidden_field_tag :product_id, "#{params[:id]}" %>
  </div>
  <div>
    <%= label_tag(:comments, "Comments:") %>
    <%= text_field_tag :comments %>
  </div>

  <div>
  <%= label_tag(:rating, "Rating:") %>
  <% n = 1 %>
  <% 5.times do %>
    <%= radio_button_tag(:rating, "#{n}") %>
    <%= label_tag(:rating, "#{n}") %>
    <% n += 1 %>
  <% end %>
  </div>

  <div>
    <%= submit_tag ("Submit") %>
  </div>
  <% end %>

</div>