<!DOCTYPE html>
<html>
<head>
  <title>BrokeGamer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

  <%= csrf_meta_tags %>

  	<meta charset="utf-8">
		<!-- Description, Keywords and Author -->
		<meta name="description" content="Your description">
		<meta name="keywords" content="Your,Keywords">
		<meta name="author" content="ResponsiveWebInc">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- Styles -->
		
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="#">
</head>
	<body>
		<% flash.each do |name, message| %>
		<p> </p>
		<div class="alert alert-<%= name %> alert-dismissible" role="alert">
			<%= message %>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		</div>
		<% end %>
		<!-- Shopping cart Modal -->
     <div class="modal fade" id="shoppingcart" tabindex="-1" role="dialog" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
             <h4 class="modal-title">Shopping Cart</h4>
           </div>
           <div class="modal-body">
           
            <!-- Items table -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Quantity</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="single-item.html">HTC One</a></td>
                  <td>2</td>
                  <td>$250</td>
                </tr>
                <tr>
                  <td><a href="single-item.html">Apple iPhone</a></td>
                  <td>1</td>
                  <td>$502</td>
                </tr>
                <tr>
                  <td><a href="single-item.html">Galaxy Note</a></td>
                  <td>4</td>
                  <td>$1303</td>
                </tr>
                <tr>
                  <th></th>
                  <th>Total</th>
                  <th>$2405</th>
                </tr>
              </tbody>
            </table>
            
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">Continue Shopping</button>
             <button type="button" class="btn btn-info">Checkout</button>
           </div>
         </div><!-- /.modal-content -->
       </div><!-- /.modal-dialog -->
     </div><!-- /.modal -->
           
		<!-- Logo & Navigation starts -->
      
		<div class="header">
			<div class="container">
				<div class="row">
					<div class="col-md-2 col-sm-2">
					  <!-- Logo -->
					  <div class="logo">
						 <h1><a href="/index.html">BrokeGamer</a></h1>
					  </div>
				   </div>
					<div class="col-md-6 col-sm-5">
						<!-- Navigation menu -->
						<div class="navi">
							<div id="ddtopmenubar" class="mattblackmenu">
								<ul>
									<li><a href="/" rel="ddsubmenu1">Home</a>
										<ul id="ddsubmenu1" class="ddsubmenustyle">
										</ul>
									</li>
									<li>

                  <% if current_user %>
                    <a href="#" rel="ddsubmenu1"><%= current_user.email %>'s Account</a>
                    <% else %>
                    <a href="#" rel="ddsubmenu1">Account</a>
                    <% end %>
										<ul id="ddsubmenu1" class="ddsubmenustyle">

 											<li><a href="/wishes">Wish List</a></li>
                          <% if current_user && current_user.id == (1 || 3) %>
                            <li><a href="/deals/pending">Pending Deals</a></li>
                            <% end %>

 										</ul>
									</li>

									<li><a href="/products?system=All" rel="ddsubmenu1">Games</a>
										<ul id="ddsubmenu1" class="ddsubmenustyle">
											<li><a href="/products?system=XboxOne">Xbox One</a></li>
											<li><a href="/products?system=PS4">PS4</a></li>
											<li><a href="/products?system=WiiU">Wii U</a></li>
											<li><a href="/products?system=3DS">Nintendo 3DS</a></li>
                      <li><a href="/products?system=PSVita">PS Vita</a></li>									
                      <li><a href="/deals">Deals</a></li>
										</ul>
									</li>                       
								</ul>
							</div>
						</div>
            <div class="pull-right">
             <%= form_tag "/products/search", method: :post do %>
             <%= text_field_tag :search %>
             <%= submit_tag "Search" %>
             <% end %>
           </div>
						<!-- Dropdown NavBar -->
						<div class="navis"></div>                   
					</div>

          <div class="col-md-4 col-sm-5">
          	<div class="kart-links">
              <% if current_user %>
							 <%= link_to "Sign Out", "/users/sign_out", method: :delete %>
               <% else %>
               <a href="/users/sign_in">Login</a> 
               <a href="/users/sign_up">Signup</a>
               <% end %>
					</div>
				</div>
			</div>
		</div>
  <!-- </div> -->
      
      <!-- Logo & Navigation ends -->
      
		<div class="clearfix">    
    <%= yield %>
    </div>
      
      
      <!-- Footer starts -->
      <footer>
         <div class="container">
         
               <div class="row">

                        <div class="col-md-4 col-sm-4">
                           <div class="fwidget">
                           
                              <h4>About This App</h4>
                              <hr />
                              <p>BrokeGamer is an app designed for crowdsourced video game deal apps. Users can search the database for video games, search for all the current deals, post new deals, post reviews, and create a wishlist of games they want. This app was created using HTML, CSS, Ruby on Rails, JavaScript, jQuery, Angular, Git, and SQL.</p>
                              
                           </div>
                       </div>

                       <div class="col-md-4 col-sm-4">
                         <div class="fwidget">
                           <h4>About the Creator</h4>
                           <hr />
                           <p>This app was created by Samantha Morco. It is her capstone project for her programming course, Anyone Can Learn To Code. Samantha is a lover of reading and playing video games, and has recently taken up a love for coding. She is currently seeking software developer jobs.</p>
                         </div>
                       </div>        

                       

                       <div class="col-md-4 col-sm-4">
                         <div class="fwidget">
                           
                           <h4>Get In Touch</h4>
                           <hr />
                           <ul>
                           <li><a href="https://www.linkedin.com/in/samanthamorco" target="_blank">LinkedIn</a></li>
                           <li><a href="https://github.com/samanthamorco" target="_blank">GitHub</a></li>
                           <li><a href="https://samanthamorco.wordpress.com" target="_blank">Blog</a></li>
                           </ul>
                           
                         </div>
                       </div>

                     </div>

         
         
            <hr />
            
            <div class="copy text-center">
               Copyright 2016 &copy; Samantha Morco - <a href="http://responsivewebinc.com/bootstrap-themes">Bootstrap Themes</a>
            </div>
         </div>
      </footer>
      <!-- Footer ends -->
      
      <!-- Scroll to top -->
      <span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a></span> 
      
		<!-- Javascript files -->
		<!-- jQuery -->
		<!-- <script src="js/jquery.js"></script> -->
		<!-- Bootstrap JS -->
		<!-- <script src="js/bootstrap.min.js"></script> -->
		<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
		<!-- <script src="js/jquery.themepunch.tools.min.js"></script> -->
		<!-- <script src="js/jquery.themepunch.revolution.min.js"></script> -->
		<!-- Dropdown menu -->
		<!-- <script src="js/ddlevelsmenu.js"></script> -->
		<!-- Countdown -->
		<!-- <script src="js/jquery.plugin.min.js"></script> -->
		<!-- <script src="js/jquery.countdown.min.js"></script>  -->  
		<!-- jQuery Navco -->
		<!-- <script src="js/jquery.navgoco.min.js"></script> -->
		<!-- Filter for support page -->
		<!-- <script src="js/filter.js"></script>     -->     
		<!-- Respond JS for IE8 -->
		<!-- <script src="js/respond.min.js"></script> -->
		<!-- HTML5 Support for IE -->
		<!-- <script src="js/html5shiv.js"></script> -->
		<!-- Custom JS -->
		<!-- <script src="js/custom.js"></script> -->
		<!-- <script>
		// 	/* JS for SLIDER REVOLUTION */
		// 	jQuery(document).ready(function() {
		// 	   jQuery('.tp-banner').revolution(
		// 		{
		// 			delay: 9000,
		// 			startheight: 450,
					
		// 			hideThumbs: 10,
					
		// 			navigationType:"none",	
					
					
		// 			hideArrowsOnMobile:"on",
					
		// 			touchenabled:"on",
		// 			onHoverStop:"on",
					
		// 			navOffsetHorizontal:0,
		// 			navOffsetVertical:20,
					
		// 			stopAtSlide:-1,
		// 			stopAfterLoops:-1,

		// 			shadow:0,
					
		// 			fullWidth:"on",
		// 			fullScreen:"off"
		// 		});
		// 	});
		// </script> -->
	</body>	
</html>